<div class="board">
  <div class="board__card-list" [style.background-color]="line.color" *ngFor="let line of tasksline; let i=index">
      <h2 cdkDragHandle class="title is-size-4">{{line.title}}</h2>
      <div class="board__card-list__content" cdkDropList [id]="line.id" [cdkDropListData]="line.tasks" [cdkDropListConnectedTo]="taskslineIds"
      (cdkDropListDropped)="onTaskDrop($event)">
      <div class="card card-list-item" *ngFor="let task of line.tasks" cdkDrag>
          <header class="card-header">
              <p class="card-header-title">
              {{ task.title }}
              </p>
          </header>
          <div class="card-content" *ngIf="task.description">
          <div class="content">
              {{ task.description }}
          </div>
          </div>
      </div>
      </div>
  </div>
</div>